body{

margin:0;

font-family:Segoe UI,sans-serif;

background:

linear-gradient(
135deg,
#ffd6e0,
#d6f0ff,
#fff5b1,
#d9ffd6
);

min-height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

#app{

text-align:center;

background:white;

padding:40px;

border-radius:30px;

box-shadow:
0 10px 25px rgba(0,0,0,.1);

}

h1{

font-size:3rem;

}
``
